html, body {
    height: 100%;
    margin: 0;  
    padding: 0;    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #666;
}

h1 {
    font-size: 36px;
    font-weight: 300;
    color: #666;
}

.header {
    z-index: 100;
    cursor: default;
    position: fixed;
    width:100%;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid rgba(22, 160, 133, 1);
    font-weight: 400;
    font-size: 0.9em;
}
.header span {
    display: inline-block;   
    color: black;
}
.header span.active, .header span:hover {
    border-bottom: 3px solid rgba(22, 160, 133, 1);
}

.header.big {
    height: 75px;    
}
.header.big .logo {
    margin-top: 10px;
}
.header.big nav {
    float: right;    
}
.header.big nav span {
    margin: 24px 30px;
/*    background: url('../img/slide/slide1.png') bottom no-repeat;*/
    background-size: 20px auto;
}

.header.small {
    display: none;
    height: 120px;
    text-align: center;
}
.header.small .logo {
    margin: 10px;
}
.header.small nav {
    margin: 0 30px 0 30px;
    border-top: 1px solid white;    
}
.header.small nav span {
    margin: 20px;  
}

.header-case {
    height: 75px; 
}

.section {
    height: 400px;    
}

.section.intro {
    background: rgba(22, 160, 133, 1);   
}

.section.techno {
    height: 275px;
    padding: 50px 0 50px 0; 
    background: rgba(236, 240, 241, 0.8);    
}

.section.footer {
    background: #66595C;
}

.section.title {
    background: rgba(22, 160, 133, 1);
    height: auto;
}

.breadcrumb{
  background: none;
  padding: 0;
    margin-top:
}

.breadcrumb > li + li:before {
  content: ">";
}


@media (max-width: 600px){
    .header {
        position: relative;    
    }
    .header.big {
        display: none;   
    }
    .header.small {
        display: block;
    }
    .header-case {
        display: none;
    }
}




/* Carousel Customization */
.carousel {
  height: 530px;
  background: #34495e;
}

.carousel-control.left, .carousel-control.right{
  background: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  filter: none;
}

.carousel-control.left i{
  left: 0;
}

.carousel-control.right i{
  right: 0;
}

.carousel-control.left i, .carousel-control.right i{
  position: absolute;
  top: 245px;
  font-size: 25px;
  background: black;
  line-height: 40px;
  padding: 0 15px;
}

.carousel-indicators li, .carousel-indicators .active {
  width: 8px;
  height: 8px;
  margin: 1px;
}

.carousel-caption {
  top: 160px;
}

.carousel-caption h2{
  font-family: 'open_sanslight';
  font-size: 43px;
  line-height: 50px;
  margin: 10px 0;
}

.carousel-caption .button{
  border: 2px solid white;
  -webkit-border: 2px solid white;
  -moz-border: 2px solid white;
  padding: 10px 40px;
  border-radius: 2px;
  color: white;
  font-family: 'open_sansbold';
  margin: 30px 0 0 0;
  display: inline-block;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.carousel-caption .button:hover{
  text-decoration: none;
  background: rgba(255, 255, 255, 0.13);
}

.item,
.active,
.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.block-icon{
  width: 70px;
  height: 70px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  text-align: center;
  font-size: 30px;
  background: #1ABC9C;
  color: #fff;
  line-height: 70px;
  margin: 0 auto;
}

.block-body h2{
  font-family: 'open_sanslight';
  font-size: 19px;
  text-align: center;
}

.block-body p{
  text-align: center;
  font-size: 13px;
  color: #7F8C8D;
}

.line-subtitle{
  height: 1px;
  width: 70px;
  margin: 17px auto;
  background: #DBDBDB;
}
