@import "settings";
@import "foundation";

// ------------------------------------------------------
//							Topbar
// ------------------------------------------------------

.top-header {
	height: $topbar-height+px;
	border-top: $primary-color 3px solid;
	background: white;
	padding: 20px 0;

	a.logo {
		display: block;
		height: 30px;
		font-size: 2em;
		padding-left: 40px;
		background: url('../images/logo_m.png') no-repeat 0 0;
	}
}

// ------------------------------------------------------
//							Main
// ------------------------------------------------------


.master-header {
	margin-top: ($topbar-height+40)+px;
	color: white;
	padding: 50px 0 50px 0;
	background: $primary-color;
}

.featured {
	height: 275px;
	padding: 50px 0 50px 0;
	background: rgba(236, 240, 241, 0.8);

	.list {
		margin-top: 10px;
	}
}