@import "settings",
				"compass",
				"foundation";

body {
	height: auto;
}

// ------------------------------------------------------
//							Top
// ------------------------------------------------------

.top-header {
	height: $topbar-height;
	border-top: $primary-color 3px solid;
	background: rgba(255,255,255,0.95);
	padding: 35px 0 15px;

	a.logo {
		display: block;
		height: 30px;
		font-size: 1.7em;

		img, span { float: left; }

		img {
			margin-right: 10px;
		}

		span {
			display: block;
			padding: 3px 0 0 0;

			em {
				font-size: 0.45em;
				font-weight: normal;
				font-style: normal;
				position: relative;
				top: 7px;
			}
		}
	}

	nav {
		ul {
			list-style-type: none;
			float: right;
			margin: 5px 0 0 0;
			position: relative;
			
			li {
				display: inline-block;
				margin: 0 40px;
				padding-bottom: 3px;
				position: relative;
				text-transform: uppercase;

				a {
					color: black;

					&:hover {
						color: darken($primary-color, 30);
					}
				}

				&:after {
					content: ' ';
					position: absolute;
					left: 50%;
					bottom: 0;
					height: 1px;
					width: 0;
					background: $primary-color;
					@include transition(width 0.3s, left 0.3s);
				}

				&:hover:after, &.active:after {
					width: 100%;
					left: 0%;
				}
			}
		}
	}
}

// ------------------------------------------------------
//							Header
// ------------------------------------------------------


.master-header {
	margin-top: $topbar-height;
	padding: 50px 0 50px 0;
	background: $primary-color;
	color: white;

	h3 {
		color: white;
	}
}

// ------------------------------------------------------
//							Main
// ------------------------------------------------------


.main {
	min-height: 275px;

	&.greybg {
		padding: 50px 0 50px 0;
		background: rgba(236, 240, 241, 0.8);
	}

	&.whitebg {
		padding: 40px 0 40px 0;
		background: #FFF;
	}

	.list {
		margin-top: 10px;
	}
}

.promo {
	margin-top: 70px;

	a {
		text-transform: uppercase;
	}
}

.videohoax {
	background: #efefef;
	width: 100%;
	height: 300px;
	padding-top: 150px;
}